trigger:
  - master


stages:
  - stage: Build
    displayName: Build Package
    jobs:
    - job: BuildPackage
      pool: Win10Agents
      steps:
      - task: UiPathPack@2
        inputs:
          versionType: 'AutoVersion'
          projectJsonPath: '$(Build.SourcesDirectory)\project.json'
          outputType: 'Process'
          orchestratorConnection: 'uipathcommite'
          outputPath: '$(Build.ArtifactStagingDirectory)\Output'
      - publish: $(Build.ArtifactStagingDirectory)
        artifact: drop
  
  - stage: DeployDEV
    displayName: Deploy build artifact to DEV
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: deployDEV
        displayName: Deploy package to DEV Orchestrator
        pool: Win10Agents
        environment: DEV
        strategy:
         runOnce:
          deploy:
           steps:
            - task: UiPathDeploy@2
              inputs:
                orchestratorConnection: 'uipathcommite'
                packagesPath: '$(Pipeline.Workspace)\drop\Output'
                folderName: 'Shared'

  - stage: TestDEV
    displayName:  Test After Publish
    dependsOn: DeployDEV
    condition: succeeded()
    jobs:
      - job: TestDEV
        pool: Win10Agents
        steps:
          - task: UiPathTest@2
            inputs:
              testTarget: 'TestSet'
              orchestratorConnection: 'uipathcommite'
              testSet: 'TestSet'
              folderName: 'Shared'
              testReportDestination: '$(Pipeline.Workspace)\drop\'