trigger:
  - master


stages:
  - stage: Build
    displayName: Build Package
    jobs:
    - job: BuildPackage
      strategy:
      matrix:
        citirx:
        AGENT_NAME: 'citirx'
      pool: 
        name: 'Win10Agents'
        demands:
        - agent.name -equals 'citirx'

      steps:
      - task: UiPathPack@2
        inputs:
          versionType: 'AutoVersion'
          projectJsonPath: '$(Build.SourcesDirectory)\project.json'
          outputType: 'Process'
          orchestratorConnection: 'uipathcommite'
          outputPath: '$(Build.ArtifactStagingDirectory)\Output'
      - publish: $(Build.ArtifactStagingDirectory)
        artifact: drop